/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    font-family: var(--heading-font);
    font-weight: 400;
    line-height: 1.2;
  }
  html{
    font-size: 62.5%;
  }
/*  Default Style */
body{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    background-color: #ffffff;
    --primary-color: #c9a488;
    --dark-color: #000;
    --light-color: #fff;
    --primary-light-color: #f5f1ee;
    --heading-font: "Oswald", Georgia, serif;
    --header-height: 100px;
    --header-height-min: 80px;
     /* Fonts */
  
    --body-font: "Roboto", sans-serif;
    --heading-font: "Oswald", sans-serif;

  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
:before,:after{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
.containers{
    max-width: 94%;
    margin: auto;
}
.container{
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}
.box{
    display: flex;
    flex-wrap: wrap;
}
.rows{
    display: flex;
    flex-wrap: wrap;
}
.padding-y {
    padding: 6rem 0;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.align-item-center{
    align-items: center;
}


header,
section,
footer{
    display: block;
    width: 100%;
}

/*   Header */
.header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    transition: all 0.5s ease;
}
.header.fixed{
    background-color: #ffffff;
    box-shadow: 0 0 8px #cccccc;
}

.header .logo{
        padding: 0 15px;
       
}
.header .logo img{
    width: 140px;
}
.header .logo a{
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Lato',
    sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.2s ease;
}
.header .fixed .logo a,
.header.fixed .logo a{
    color: #000000;
}
.header .logotext{
    color: #fb839e;
    font-family: 'Great Vibes' , cursive;
}
.header .hamburger-btn{
    height: 34px;
    width: 40px;
    border-radius: 3px;
    border: 1px solid #ffffff;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    display: none;
}
.header.fixed .hamburger-btn{
    border-color: #000000;
    background-color: #000000;
}
.header .hamburger-btn span{
  display: block;
  height: 1px;
  width: 16px;
  background-color: #ffffff;
  position: relative;
  transition: all 0.5s ease;
}


.header .hamburger-btn span:before,
.header .hamburger-btn span:after{
content: '';
position: absolute;
height: 1px;
width: 100%;
right: 0;
background-color: #ffffff;
}
.header .hamburger-btn span:before{
    top: -6px;
}
.header .hamburger-btn span:after{
    top: 6px;
}
.header .nav{
    padding: 0 15px;
}
.header .nav ul{
list-style: none;
margin: 0;
padding: 0;
}
.header .nav ul li{
    display: inline-block;
    margin-left: 30px;
}
.header .nav ul li a{
display: block;
padding: 25px 0;
color: #ffffff;
font-size: 18px;
font-weight: 700;
text-transform: uppercase;
transition: all 0.5s ease;
  
}
.header.fixed .nav ul li a{
    color: #555555;
}

.header .button a{
padding: 7px 30px;
border-radius: 30px;
font-weight: 500;
display: inline-block;
border: 1px solid #ffffff;
color: #ffffff;
background: transparent;
}
.header.fixed .button a{
  border: 1px solid #000000;
  color: #000000
  
  ;
}
/*  Home Section */
.home-section{
    min-height: 100vh;
    position: relative;
}
.home-section .slide{
    background-size: cover;
    background-position: center center;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
}
.home-section .slide:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: -1;
}
.home-section .box{
    min-height: 100vh;
}
.home-section .home-content{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    text-align: center;
}
.home-section .home-content p{
font-size: 24px;
color: #ffffff;
margin: 0 0 15px;
}
.home-section .slide.active .home-content p{
    opacity: 0;
    animation: fadeInTop 1s ease forwards;
}
@keyframes fadeInTop{
    0%{
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.home-section .home-content h1{
    font-size: 40px;
    color: #ffffff;
    margin: 0;
    font-weight: normal;
    font-family: 'Great Vibes', cursive;

}
.home-section .slide.active .home-content h1{
    opacity: 0;
    animation: fadeInTop 1s ease forwards;
    animation-delay: 0.5s;
}

.home-section .home-content button{
    font-size: 20px;
    display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 30px;
    color: #ffffff;
    padding: 7px 30px;
    margin:  15px 0 0;
    background: transparent;
}
.home-section .slide.active .home-content button{
    opacity: 0;
    animation: fadeInTop 1s ease forwards;
    animation-delay: 1s;
}

/* about */

.card{
      flex: 0 0 30%;
      max-width: 30%;
      height: 500px;
      padding: 0 30px;
      text-align: center;
      background: #fff;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      border-radius: 15px;
      display: flex;
      flex-flow: column;
      padding: 10px;

}
.card .img{
    width: 220px;
    height: 220px;
    margin: 20px auto;
}
.card .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.card .class-info{
    width: 100%;
}
.card .class-info .icons {
display: flex;
justify-content: center;
font-size: 21px;
}
.card .class-info .icons i{
  color: #2ae4ee;
}
.card .class-info .icons .days ,
.card .class-info .icons .time{
    margin: 10px 20px;
    color: grey;
}

.card .class-info h2{
    font-size: 22px
}
.card .class-info p{
    font-size: 14px;
    color: grey;
}
.card button {
    background: #2ae4ee;
    margin: 30px auto;
    width: 150px;
    height: 40px;
    text-align: center;
    color: #000;
    outline: none;
    border: none;
    border-radius: 25px;
    padding: 10px 10px;
}

.openings {
   background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
   url(../images/wallpapertip_fitness-girl-wallpaper_893035.jpg) center/cover no-repeat fixed;
   color: #fff;
   text-align: center;
    clip-path: ellipse(100% 55% at 48% 44%);
    list-style: none;
}
.openings-row > ul > li{
    list-style: none;
}


    /* Gallery Section */

    .gallery-section{
        padding: 80px 0 0px;
        margin-bottom: 100px;
    }
    .gallery-section .gallery-item{
        flex:0 0 33.33%;
        max-width: 33.33%;
        padding: 15px;
    }
    .gallery-section .gallery-item-inner{
        overflow: hidden;
        cursor: pointer;
    }
    .gallery-section .gallery-item-inner img{
        width: 100%;
        height: 230px;
        object-fit: cover;
        transform: scale(1.1);
        transition: all 0.5s ease;
         border-radius: 20px;
    }
    .gallery-section .gallery-item-inner:hover img{
        transform: scale(1);
    }

    /* gallery popup */
    .gallery-popup{
        cursor: zoom-out;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1099;
        background-color: rgba(0,0,0,0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }
    .gallery-popup.open{
        display: flex;
    }
    .gallery-popup img.gp-img{
        width: auto;
        height: auto;
        max-width: 100%;
        padding: 40px 0;
    }
    .gallery-popup .gp-container{
        position: relative;
        cursor: auto;
    }
    .gallery-popup .gp-counter{
        display: block;
        height: 40px;
        color: #ffffff;
        font-size: 16px;
        position: absolute;
        left: 0;
        top: 0;
        line-height: 40px;
        font-weight: bold;
        cursor: auto;
    }
    .gallery-popup .gp-close{
        display: block;
        height: 40px;
        width: 40px;
        color: #ffffff;
        font-size: 30px;
        position: absolute;
        right: 0;
        top: 0; text-align: center;
        line-height: 38px;
        overflow: hidden;
        cursor: zoom-out;
    }
    .gallery-popup .gp-controls{
        position: absolute;
        display: flex;
        left: 0;
        bottom: 0;
        height: 40px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .gallery-popup .gp-controls .prev,
    .gallery-popup .gp-controls .next{
        display: inline-block;
        margin: 0 10px;
    }
    .gallery-popup .gp-controls .prev i,
    .gallery-popup .gp-controls .next i{
        color: #ffffff;
        font-size: 20px;
        display: block;
        height: 30px;
        width: 30px;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        border-radius: 2px; 
        transition: all 0.5s ease; 
    }
    .gallery-popup .gp-controls .prev:hover i,
    .gallery-popup .gp-controls .next:hover i{
        background-color: rgba(0,0,0,0.8);
    }


    /* Fotter  */


footer{
    width: 100%;
    background-color:#e9dacf;
    color: #fff;
    padding: 50px 0 30px;
    font-size: 10px;
    line-height: 20px;
}
.footer-row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-row p{
    text-align: left;
    font-size: 15px;
}
.footer-row h1 {
    text-align: left;
    font-size: 25px;
    margin-bottom: 30px;
    color: #000;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2),
.col:nth-child(3){
    flex-basis: 20%;
}

.copyright{
    text-align: center;
}

 .hfg{

justify-content: space-between;
}

  .text-primary {
    color: var(--primary-color) !important;
  }

  
  footer p{
    line-height: 0;
    color: #000;
  }
  .rounded-social-buttons .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 5.125rem;
    height: 5.125rem;
    border: 0.125rem solid transparent;
    padding: 12px;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 50%;
    transition: all 0.5s ease;
    margin-right: 2rem;
    margin-bottom: 0.25rem;
  }
  
  .rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  
  .rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
    font-size: 25px;
  }
  
  .rounded-social-buttons .social-button.facebook {
    background: #3b5998;
  }
  
  .rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
    color: #3b5998;
    background: #fefefe;
    border-color: #3b5998;
  }
  
  .rounded-social-buttons .social-button.twitter {
    background: #55acee;
  }
  
  .rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
    color: #55acee;
    background: #fefefe;
    border-color: #55acee;
  }
  
  .rounded-social-buttons .social-button.linkedin {
    background: #007bb5;
  }
  
  .rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
    color: #007bb5;
    background: #fefefe;
    border-color: #007bb5;
  }
  
  .rounded-social-buttons .social-button.youtube {
    background: #bb0000;
  }
  
  .rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
    color: #bb0000;
    background: #fefefe;
    border-color: #bb0000;
  }
  
  .rounded-social-buttons .social-button.instagram {
    background: #125688;
  }
  
  .rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
    color: #125688;
    background: #fefefe;
    border-color: #125688;
  }
  /*
Theme Name: Dance
Theme URI: https://templatesjungle.com/dance-html-template
Author: TemplatesJungle
Author URI: https://templatesjungle.com/
Description: Dance is specially designed for dance studios.
Version: 1.1
*/

/*--------------------------------------------------------------
This is main CSS file that contains custom style rules used in this template
--------------------------------------------------------------*/

/*------------------------------------*\
    Table of contents
\*------------------------------------*/

/*------------------------------------------------

CSS STRUCTURE:

1. VARIABLES

2. GENERAL TYPOGRAPHY
  2.1 General Styles
  2.2 Floating & Alignment
  2.3 Forms
  2.4 Lists
  2.5 Code
  2.6 Tables
  2.7 Spacing
  2.8 Utilities
  2.9 Misc
  2.10 Buttons
    - Button Sizes
    - Button Shapes
    - Button Color Scheme
    - Button Aligns
  2.11 Images
    - Image Hover Effects
  2.12 Section
    - Hero Section
    - Section Title
    - Section Paddings
    - Section Margins
    - Section Bg Colors
    - Content colors

3. EXTENDED TYPOGRAPHY
  3.1 Blockquote / Pullquote
  3.3 Text Highlights

4. CONTENT ELEMENTS
  4.1 Tabs
  4.2 Accordions
  4.3 Member Grid
  4.4 Product Grid

5. BLOG STYLES
  5.1 Blog Single Post
  5.2 About Author
  5.3 Comments List
  5.4 Comments Form

6. Grid Layout

7. SITE STRUCTURE
  7.1 Preloader
  7.2 Header
    - Logo
    - Header Menu
    - Nav Sidebar
  7.3 Billboard
  7.4 Icon Box Section
  7.5 Categories Section
  7.6 Feature Collection Section
  7.7 Special Ornaments Section
  7.8 About Us Section
  7.9 Special Offer Section
  7.10 Latest Blogs Section
  7.11 Testimonials Section
  7.12 Footer
    - Footer Top
    - Footer Bottom

    
/*--------------------------------------------------------------
/** 1. VARIABLES
--------------------------------------------------------------*/

 

  
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    /* spacing */
    --bs-gutter-x: 2.5rem;
  }
  
  
  /* container fluid */
  .container-fluid {
    max-width: 1800px;
  }

  
  /* btn */
  .btn {
    --bs-btn-border-radius: 0;
  }
  
  .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-primary-dark);
    --bs-btn-hover-border-color: var(--bs-primary-dark);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-secondary);
    --bs-btn-active-border-color: var(--bs-secondary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bs-primary);
    --bs-btn-disabled-border-color: var(--bs-primary);
  }
  
  .btn-outline-primary {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--bs-primary);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--bs-primary);
    --bs-gradient: none;
  }
  

  /* end of Bootstrap Color Theme */
  
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 3rem;
  }
  
  button,
  input,
  select,
  textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: 0;
  }
  
  figure {
    margin: 0;
  }
  
  img {
    display: inline-block;
    border: 0;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }
  
  ::selection {
    background: var(--primary-light-color);
    color: var(--dark-color);
    text-shadow: none;
  }
  
  ::-moz-selection {
    background: var(--primary-light-color);
    color: var(--dark-color);
    text-shadow: none;
  }
  
  /* image align */
  figure.align-right {
    margin: 30px 0 30px 30px;
  }
  
  /* Typography */
  /*----------------------------------------------*/
  

  h1,
  h2,
  h3 {
    margin: 25px 0;
    text-transform: capitalize;
  }
  
  h5,
  h6 {
    letter-spacing: 1px;
  }
  
  h1,
  .h1 {
    font-size: 3em;
    line-height: 1.4;
  }
  
  h2,
  .h2 {
    font-size: 2em;
    line-height: 1.4;
  }
  
  h3,
  .h3 {
    font-size: 1.4em;
    line-height: 1.4;
  }
  
  h4,
  .h4 {
    font-size: 1.1em;
    line-height: 1.4;
  }
  
  h5,
  .h5 {
    font-size: .83em;
    line-height: 1.25;
  }
  
  h6,
  .h6 {
    font-size: .67em;
    line-height: 1.1;
  }
  
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    font-weight: inherit;
    color: inherit;
  }
  
  p {
    font-family: var(--body-font);
    font-size: 18px;
    line-height: 1.7;
    margin: 0 0 20px 0;
  }
  
  p.dark {
    color: var(--dark-color);
  }
  
  p.light {
    color: var(--light-color);
  }
  
  p:empty {
    display: none;
  }
 
  /*----------------------------------------------*/
  /* 2.1 Floating & Alignment */
  /*----------------------------------------------*/
  
  .align-left {
    float: left;
    text-align: left;
  }
  
  .align-right {
    float: right;
    text-align: right;
  }
  
  .align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  /**::after,*/
  .container::after,
  .row::after,
  .clearfix::after {
    display: block;
    clear: both;
    content: "";
  }

  /*--- Section And Elements Title
  -----------------------------------------------*/
  .section-header {
    width: 100%;
    padding-bottom: 50px;
  }
  
  .section-title {
    position: relative;
    font-size: 2.2em;
    font-weight: 100;
    font-weight: 300;
    --heading-font: "Oswald", Georgia, serif;
  }
 
  /*--------------------------------------------------------------
  This is main CSS file that contains custom style rules used in this template
  --------------------------------------------------------------*/
  
  /* - Section Padding
  --------------------------------------------------------------*/
  .padding-xsmall {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  
  .padding-small {
    padding-top: 2em;
    padding-bottom: 2em;
  }
  
  .padding-medium {
    padding-top: 4em;
    padding-bottom: 4em;
  }
  
  .padding-large {
    padding-top: 6em;
    padding-bottom: 6em;
  }
  
  .padding-xlarge {
    padding-top: 9.5em;
    padding-bottom: 9.5em;
  }
  
  .padding-2xlarge {
    padding-top: 15em;
    padding-bottom: 15em;
  }
  
  /* no padding */
  .no-padding-top {
    padding-top: 0 !important;
  }
  
  .no-padding-bottom {
    padding-bottom: 0 !important;
  }
  
  .no-gutter {
    padding: 0 !important;
  }
  
  /* no padding and margin */
  .no-padding {
    padding: 0;
  }
  
  .no-margin {
    margin: 0;
  }
  
  /* - Section margin
  --------------------------------------------------------------*/
  .margin-small {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  
  .margin-medium {
    margin-top: 4.5em;
    margin-bottom: 4.5em;
  }
  
  .margin-large {
    margin-top: 6em;
    margin-bottom: 6em;
  }
  
  .margin-xlarge {
    margin-top: 7.5em;
    margin-bottom: 7.5em;
  }



/**********************************/
/* CLASSES SECTION */
/**********************************/

.classes-section {
    padding: 5rem 0;
  }
  .con1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
  }

  .margin-bottom-md {
    margin-bottom: 4.8rem !important;
  }
  .grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
}
  .grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }
  .classes-subheading {
    text-align: center;
    margin-bottom: 1.6rem;
    display: block;
  }
  
  .classes-heading {
    text-align: center;
    margin-bottom: 9.6rem;
    align-items: center;
  }
  
  .class-card {
    border-radius: 9px;
    box-shadow: 0 2.4rem 3.6rem rgba(0, 0, 0, 0.12);
    overflow: hidden;
  
    transition: transform 0.5s;
  }
  
  .class-card:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 4.8rem rgba(0, 0, 0, 0.1);
  }
  
  .class-img {
    width: 100%;
  }
  
  .classes-content {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
  }
  
  .types-box {
    display: flex;
    align-items: flex-start;
    gap: 0.4rem;
    margin-bottom: 1.2rem;
  }
  
  .students-type {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #333;
    border-radius: 100px;
  }
  
  .adults {
    background-color: #f7e658;
  }
  
  .teenagers {
    background-color: #f7aace;
  }
  
  .children {
    background-color: #a1e5f2;
  }
  
  .classes-name {
    font-size: 2.4rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 3.2rem;
  }
  
  .class-features {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .class-item {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
  }
  
  .classes-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .classes-type {
    font-size: 1.8rem;
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
  }
  
  .type-icon {
    width: 2.4rem;
    height: 2.4rem;
    color: var(--primary-color);
  }
  
  .see-all-box {
    display: flex;
    justify-content: center;
  }
  
  .see-all-link:link,
  .see-all-link:visited {
    display: inline-block;
    font-size: 1.8rem;
    color: var(--primary-color);
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
  
    transition: all 0.3s;
  }
  
  .see-all-link:hover {
    border-bottom: 1px solid transparent;
  }
  
  .see-all-link:active {
    box-shadow: 0 0 0 0.8rem #d38fa6;
  }
  
  /**********************************/
  /* TESTIMONIALS SECTION */
  /**********************************/
  
  .testimonials-section {
    background-color:#e9dacf;
    display: grid;
    grid-template-columns: 55fr 45fr;
    justify-content: center;
    align-items: center;
  }
  
  .testimonials-container {
    display: block;
    padding: 9.6rem;
  }
  
  .testimonials-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.8rem 8rem;
  }
  /**********************************/
  /* Trainers SECTION */
  /**********************************/
  .tariner-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.8rem 8rem;
  }
  .tainer-galeery{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 2rem 5rem;
  }
  .tainer-galeery figure{
   width: 250px;
   height: 300px;
  } 
  .ty-img img{
    height: 350px;
    width: 300px;

  }
  .testimonial-img {
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 100px;
    margin-bottom: 12px;
  }
  
  .testimonial-text {
    font-size: 1.8rem;
    line-height: 1.8;
    color: #555;
    margin-bottom: 1.6rem;
  }
  
  .testimonial-name {
    font-size: 1.6rem;
    color: #686868;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.6rem;
    gap: 1.6rem;
  }
  
  .gallery-img img {
    display: block;
    width: 220px;
    height: 220px;
    object-fit: contain;
    transition: all 0.4s;
  }
  
  .gallery-img img:hover {
    transform: scale(1.1);
  }
  
  .gallery-img {
    overflow: hidden;
  }
  

  .btn.btn-outline-primary {
    background: transparent;
    border-color: var(--primary-color);
    color: var(--dark-color);
}
.btn.btn-pill, .btn.btn-pill::after {
    border-radius: 2em;
}
.btn.btn-medium {
    padding: 1.1em 3em;
    font-size: 1.0em;
}
.btn:last-child {
    margin-right: 0;
}







/*  people Section */

.people-section{
    padding: 80px  0px;
    background-color: #f3f2f1;
}

.people-section .people-item{
    flex: 0 0 25%;
    max-width: 25%;
    padding: 15px;
    margin-top: 25px;
}
.people-section .people-item-inner{
    background-color: #ffffff;
    padding: 15px;
    text-align: center;
}
.people-section .people-item-inner img{
    min-width: 100%;
    object-fit: cover;
    box-shadow: 0 0 10px #cccccc;
    margin-top: -40px;
    transition: all 0.5s ease ;
}
.people-section .people-item-inner:hover img{
    transform: scale(0.95);
}
.people-section .people-item-inner h4{
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    margin: 20px 0 5px;
    text-transform: capitalize;
}
.people-section .people-item-inner p{
    font-size: 16px;
    color: #555555;
    font-weight: 500;
    margin: 0 0 10px;
    text-transform: capitalize;
}

.people-section .people-item-inner .social-links  {
  text-align: center;
  padding: 10px 0 ;
  }
  .people-section .people-item-inner .social-links  a {
      display: inline-block;
      margin: 0 25px;
  }
  
  .people-section .people-item-inner .social-links  a i{
      height: 35px;
      width: 35px;
      line-height: 30px;
      border: 2px solid #e9dacf;
      text-align: center;
      display: block;
      border-radius: 50%;
      transition:  0.5s ease;
      color: var(--primary-color) !important;
      font-size: 20px;
  }
  .people-section .people-item-inner .social-links  a:hover i{
  color: #f3f2f1;
  }
footer .footer-logo{
  width: 150px;
  height: 150px;
}
footer .footer-logo img{
  width: 100%;
}