/**********************************/
/* BELOW 1344px (Small desktops) */
/**********************************/
@media (max-width: 84em) {
    .testimonials-section {
      grid-template-columns: 60fr 40fr;
    }
  
    .gallery {
      grid-template-columns: repeat(2, 1fr);
    }
}

/**********************************/
/* BELOW 1200px (Landscape tablets) */
/**********************************/

@media (max-width: 75em) {
    html {
      font-size: 56.25%;
    }
  
    .heading-secondary {
      font-size: 3.6rem;
    }
  
    .heading-teriary {
      font-size: 2.4rem;
    }
    .grid {
      column-gap: 4.8rem;
      row-gap: 6.4rem;
    }
    .testimonials-container {
      padding: 9.6rem 3.2rem;
    }
}

/**********************************/
/* BELOW 960px (Tablets) */
/**********************************/

@media (max-width: 60em) {
    html {
      font-size: 50%;
    }  
    .classes-hours {
      justify-content: center;
      margin-top: 4.6rem;
    }
    .grid {
      column-gap: 3.2rem;
      row-gap: 4.8rem;
    }
    .classes-content {
      padding: 2.4rem 3.2rem 3.2rem 3.2rem;
    }
    .testimonials-section {
      grid-template-columns: 1fr;
    }
    .gallery {
      grid-template-columns: repeat(6, 1fr);
    }
}
  
  /**********************************/
  /* BELOW 688px (SmalerTablets) */
  /**********************************/
  
@media (max-width: 43em) {
    html {
      font-size: 40.75%;
    }
    ul {
        padding-left: 0rem;
      }
      .section-header {
    margin: 0rem 0 4rem 0;
      }
      .class-features{
        gap: 1.5rem;
      }
    .grid--3-cols,
    .grid--4-cols {
      grid-template-columns: repeat(2, 1fr);
    }
    .classes-list-box {
      grid-column: 1 / -1;
      justify-self: center;
    }
    .gallery {
      grid-template-columns: repeat(4, 1fr);
    }
    .heading-secondary {
      margin-bottom: 4.8rem;
    }
    .types-box {
        display: flex;
        align-items: flex-start;
        gap: 0.4rem;
        margin-bottom: .5rem;
      }
    .students-type {
    padding: 0.4rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    }
    .classes-name {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .class-item {
        font-size: 1.6rem;
        line-height: 1.6rem;
      }
      .people-section .people-item {
        padding: 3.5rem 2rem;
        max-width: 85%;
    }
      
}
  
  /**********************************/
  /* BELOW 528px (Mobile phones) */
  /**********************************/
  
@media (max-width: 33em) {
    /* html {
      font-size: 50.75%;
    }  */
    .grid {
      margin-bottom: 4.8rem;
    }
    .grid--2-cols,
    .grid--3-cols,
    .grid--4-cols {
      grid-template-columns: 1fr;
    }
    .testimonials-box {
      grid-template-columns: 1fr;
    }
    .gallery {
      grid-template-columns: repeat(3, 1fr);
    }
    .people-section .people-item {
        padding: 3.5rem 2rem;
    }
  }
@media (max-width: 68em) {
    html{
        font-size: 56.25%;
    }
    .header .button a {
        padding: .6rem 2rem;
    }
    .home-section .hero-text{
        margin-top: 15rem;
        padding:  5rem;
    }
    .home-section .hero-text h1{
        font-size: 5rem;
    }
    .container {
        max-width: 110rem;
        padding: 0 4rem;
    }
    .about-us img{
        max-width: 80%;
    }
    .heading-secondary {
        font-size: 2.2rem;
        margin-bottom: 3rem;
    }
}

@media (max-width: 991px) {
    .header .hamburger-btn {
        display: flex;
        margin-right: 5%;
        background-color: black;
    }
    .header .button{
        display: none;
    }
    .header .nav {
        flex: 0 0 100%;
        max-width: 100%;
        background-color: #ffffff;
        border-top: 1px solid #cccccc;
        display: none;
    }
    .header .nav ul li {
        display: block;
        margin-left: 1rem;
    }
    .header .nav ul li a {
        color: #555555;
        padding: 1rem 0;
    }
    .home-section .hero-text{
        margin-top: 15rem;
        padding:  5rem;
    }
    .home-section .hero-text h1{
        font-size: 6rem;
    }
    .home-section .banner-image {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .home-section img {
        max-width: 75%;
    }
    .home-section .classes-students-imgs {
        margin-top: -3rem;
    }
    .event-section iframe {
        width: 42rem;
        height: 26rem;
      }
    .container {
        max-width: 110rem;
        padding: 0 3rem;
    }
    .about-us img{
        max-width: 80%;
    }
    .gallery-section .gallery-item,
    .event-section .event-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media(max-width: 781px) {
   
    .header .logo {
        padding: .8rem 1.5rem;
    }

    .header .logo img {
        width: 12rem;
    }
    .home-section .banner-image {
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .home-section img {
        max-width: 75%;
        margin-top: 15rem;
    }
    .home-section .container-fluid .row {
        flex-direction: column-reverse;
    }
    .home-section .hero-text {
        margin-top: 5rem;
        padding: 2rem;
        text-align: center;
    }

    .home-section .hero-text h1 {
        font-size: 4rem !important;
    }

    .home-section img {
        max-width: 75%;
        margin-top: 15rem;
    }

    .home-section .classes-students-imgs {
        display: none;

    }
    .home-section .student-img {
        height: 4.8rem;
        width: 4.8rem;
        border-radius: 50%;
        margin-right: -1.6rem;
        border: 3px solid #f6e9ed;
        margin-top: -50px !important;

    }

    .home-section .student-img:last-child {
        margin-right: 0;
    }

    .home-section .classes-text {
        margin-left: 50px;
        font-size: 1.8rem;
        font-weight: 600;
        margin-top: -30px;
    }

    .home-section .classes-text span {
        align-self: center;
        color: #c9a488;
        font-weight: 700;
    }

    #about-us .about img {
        margin-bottom: 5rem;
    }

    #about-us .section-title {
        margin-bottom: 5rem;
        text-align: center;
    }
}

@media(max-width: 43em) {

    .home-section .banner-image {
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .home-section img {
        max-width: 75%;
        margin-top: 15rem;
    }
    .home-section .container-fluid .row {
        flex-direction: column-reverse;
    }
    /* About Us Section */
    .about-us .block-text{
        text-align: center;
    }
    /* Events Section */
    .tab-content iframe {
        border-radius: 2rem;
    }
    .event-section iframe {
        width: 38rem;
        height: 25rem;
    }
    /* Gallery Section */
    .gallery-section .gallery-item {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 2.5rem;
    }

    .section-title {
        margin-bottom: 0rem;
    }
}