/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


/* Typography */
/*----------------------------------------------*/

h2,
.h2 {
  font-size: 2em;
  line-height: 1.4;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-family: var(--heading-font);
  font-weight: 400;
  line-height: 1.2;
}

h3,
.h3 {
  font-size: 1.4em;
  line-height: 1.4;
}

h4,
.h4 {
  font-size: 1.1em;
  line-height: 1.4;
}

h1 a,
h2 a,
h3 a,
h4 a {
  font-weight: inherit;
  color: inherit;
}

p {
  font-family: var(--body-font);
  font-size: 18px;
  line-height: 1.7;
  margin: 0 0 20px 0;
}

.my-6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
html {
  font-size: 62.5%;
}

/*  Default Style */
body {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  background-color: #ffffff;
  --primary-color: #c9a488;
  --dark-color: #000;
  --light-color: #fff;
  --primary-light-color: #f5f1ee;
  --heading-font: "Oswald", Georgia, serif;
  --header-height: 100px;
  --header-height-min: 80px;
  /* Fonts */
  --body-font: "Roboto", sans-serif;
  --heading-font: "Oswald", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background: var(--primary-light-color);
  color: var(--dark-color);
  text-shadow: none;
}

::-moz-selection {
  background: var(--primary-light-color);
  color: var(--dark-color);
  text-shadow: none;
}
a {
  text-decoration: none;
}

:before,
:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.containers {
  max-width: 94%;
  margin: auto;
}


.box {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-item-center {
  align-items: center;
}

.text-primary {
  color: var(--primary-color) !important;
}


header,
section,
footer {
  display: block;
  width: 100%;
}

/*--- Section And Elements Title
  -----------------------------------------------*/

  .section-title {
    position: relative;
    font-size: 2.2em;
    font-weight: 100;
    font-weight: 300;
    --heading-font: "Oswald", Georgia, serif;
    margin: 5rem 0;
  }

/**********************************/
/* HEADET SECTION */
/**********************************/
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  transition: all 0.5s ease;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.header.fixed {
  background-color: #ffffff;
  box-shadow: 0 0 8px #cccccc;
}

.header .logo {
  padding: 0 15px;
}

.header .logo img {
  width: 120px;
}
.header .hamburger-btn {
  height: 34px;
  width: 40px;
  border-radius: 3px;
  border: 1px solid #ffffff;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  display: none;
}

.header.fixed .hamburger-btn {
  border-color: #000000;
  background-color: #000000;
}

.header .hamburger-btn span {
  display: block;
  height: 1px;
  width: 16px;
  background-color: #ffffff;
  position: relative;
  transition: all 0.5s ease;
}


.header .hamburger-btn span:before,
.header .hamburger-btn span:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  right: 0;
  background-color: #ffffff;
}

.header .hamburger-btn span:before {
  top: -6px;
}

.header .hamburger-btn span:after {
  top: 6px;
}

.header .nav {
  padding: 0 15px;
}

.header .nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header .nav ul li {
  display: inline-block;
  margin-left: 30px;
}

.header .nav ul li a {
  display: block;
  padding: 25px 0;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.5s ease-in;

}

.header .button a {
  padding: 7px 30px;
  border-radius: 30px;
  font-weight: 500;
  display: inline-block;
  border: 1px solid #c9a488;
  color: #000000;
  background: transparent;
}

.header.fixed .nav ul li a {
  color: #555555;
}

/**********************************/
/* HOME SECTION */
/**********************************/
.home-section {
  min-height: 100vh;
  position: relative;
  background-color: #fffcf8;
}
.home-section .hero-text{
  margin-top: 150px;
  padding:  70px;
}
.home-section .hero-text a{
  font-size: 1.5rem;
  border: 1px solid #c9a488;
  background-color: #fffcf8;
  color: black;
  margin-top: 20px;
}
.home-section .hero-text small{
  border-color: #c9a488 !important;
}
.home-section .hero-text h1{
  font-family: 'Playball', cursive !important;
  font-size: 7rem !important;
  font-weight: 500;
}
.home-section img{
  max-width: 90%;
  margin-top: 150px;
}

.home-section .classes-students-imgs {
  display: flex;
  padding: 20px;
  align-items: center;
  padding-left: 70px;
}
.home-section .student-img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #f6e9ed;
  margin-top: -50px !important;

}

.home-section .student-img:last-child {
  margin-right: 0;
}

.home-section .classes-text {
  margin-left: 50px;
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: -30px;
}

.home-section .classes-text span {
  align-self: center;
  color: #c9a488;
  font-weight: 700;
}


/**********************************/
/* EVENT SECTION */
/**********************************/
.event-section iframe{
  width: 330px;
  height: 230px;
}
.tab-content iframe
{
  border-radius: 20px;
}

.event-section small{
  border: 1px solid #c9a488;
}
.event-section .text-center a{
border: 1px solid #c9a488 !important;
}


/**********************************/
/* CLASSES SECTION */
/**********************************/

.classes-section {
  padding-bottom: 5rem;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.class-card {
  border-radius: 9px;
  box-shadow: 0 2.4rem 3.6rem rgba(0, 0, 0, 0.12);
  overflow: hidden;

  transition: transform 0.5s;
}

.class-card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 4.8rem rgba(0, 0, 0, 0.1);
}

.class-img {
  width: 100%;
}

.classes-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.types-box {
  display: flex;
  align-items: flex-start;
  gap: 0.4rem;
  margin-bottom: 1.2rem;
}

.students-type {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
}

.adults {
  background-color: #f7e658;
}

.teenagers {
  background-color: #f7aace;
}

.children {
  background-color: #a1e5f2;
}

.classes-name {
  font-size: 2.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 3.2rem;
}

.class-features {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.class-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.classes-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.classes-type {
  font-size: 1.8rem;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.type-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--primary-color);
}

.see-all-box {
  display: flex;
  justify-content: center;
}

.see-all-link:link,
.see-all-link:visited {
  display: inline-block;
  font-size: 1.8rem;
  color: var(--primary-color);
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;

  transition: all 0.3s;
}

.see-all-link:hover {
  border-bottom: 1px solid transparent;
}

.see-all-link:active {
  box-shadow: 0 0 0 0.8rem #d38fa6;
}

/**********************************/
/* TESTIMONIALS SECTION */
/**********************************/

.testimonials-section {
  background-color: #e9dacf;
  display: grid;
  grid-template-columns: 55fr 45fr;
  justify-content: center;
  align-items: center;
}

.testimonials-container {
  display: block;
  padding: 9.6rem;
}

.testimonials-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem 8rem;
}

.testimonial-img {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 100px;
  margin-bottom: 12px;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #555;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #686868;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1.6rem;
  gap: 1.6rem;
}
.gallery figure{
  width: 220px;
  height: 220px;
  object-fit: contain;
}
.gallery-img img {
  display: block;
  transition: all 0.4s;
}

.gallery-img img:hover {
  transform: scale(1.1);
}

.gallery-img {
  overflow: hidden;
}

/**********************************/
/* Tariner's Section */
/**********************************/

.people-section {
  padding: 80px 0px;
  background-color: #f3f2f1;
}

.people-section .people-item {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 15px;
  margin-top: 25px;
}

.people-section .people-item-inner {
  background-color: #ffffff;
  padding: 15px;
  text-align: center;
}

.people-section .people-item-inner img {
  min-width: 100%;
  object-fit: cover;
  box-shadow: 0 0 10px #cccccc;
  margin-top: -40px;
  transition: all 0.5s ease;
}

.people-section .people-item-inner:hover img {
  transform: scale(0.95);
}

.people-section .people-item-inner h4 {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
  margin: 20px 0 5px;
  text-transform: capitalize;
}

.people-section .people-item-inner p {
  font-size: 16px;
  color: #555555;
  font-weight: 500;
  margin: 0 0 10px;
  text-transform: capitalize;
}

.people-section .people-item-inner .social-links {
  text-align: center;
  padding: 10px 0;
}

.people-section .people-item-inner .social-links a {
  display: inline-block;
  margin: 0 25px;
}

.people-section .people-item-inner .social-links a i {
  height: 35px;
  width: 35px;
  line-height: 30px;
  border: 2px solid #e9dacf;
  text-align: center;
  display: block;
  border-radius: 50%;
  transition: 0.5s ease;
  color: var(--primary-color) !important;
  font-size: 20px;
}

.people-section .people-item-inner .social-links a:hover i {
  color: #f3f2f1;
}

/**********************************/
/* WEDDING POPCORN SECTION */
/**********************************/

.gallery-section {
  padding: 80px 0 0px;
  margin-bottom: 100px;
}

.gallery-section .gallery-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 15px;
}

.gallery-section .gallery-item-inner {
  overflow: hidden;
  cursor: pointer;
}

.gallery-section .gallery-item-inner img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  transform: scale(1.1);
  transition: all 0.5s ease;
  border-radius: 20px;
}

.gallery-section .gallery-item-inner:hover img {
  transform: scale(1);
}

/* gallery popup */
.gallery-popup {
  cursor: zoom-out;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1099;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.gallery-popup.open {
  display: flex;
}

.gallery-popup img.gp-img {
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 40px 0;
}

.gallery-popup .gp-container {
  position: relative;
  cursor: auto;
}

.gallery-popup .gp-counter {
  display: block;
  height: 40px;
  color: #ffffff;
  font-size: 16px;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 40px;
  font-weight: bold;
  cursor: auto;
}

.gallery-popup .gp-close {
  display: block;
  height: 40px;
  width: 40px;
  color: #ffffff;
  font-size: 30px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  line-height: 38px;
  overflow: hidden;
  cursor: zoom-out;
}

.gallery-popup .gp-controls {
  position: absolute;
  display: flex;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.gallery-popup .gp-controls .prev,
.gallery-popup .gp-controls .next {
  display: inline-block;
  margin: 0 10px;
}

.gallery-popup .gp-controls .prev i,
.gallery-popup .gp-controls .next i {
  color: #ffffff;
  font-size: 20px;
  display: block;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.5s ease;
}

.gallery-popup .gp-controls .prev:hover i,
.gallery-popup .gp-controls .next:hover i {
  background-color: rgba(0, 0, 0, 0.8);
}


/**********************************/
/* Footer Section */
/**********************************/
.footer{
  background-color: #e9dacf;
}
.footer .footer-item a.text-body:hover {
  color: #D4A762 !important;
}
.footer .footer-text{
  font-size: 15px;
  color: #504e4e;
  margin: 3px 0;
}
.footer h4{
  font-weight: 900 !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 2rem !important;
}
.footer .text-body {
  color: #504e4e !important;
}
.footer
 .fa,.fas {
  font-weight: 900;
}
.footer .footer-logo {
  width: 150px;
  height: 150px;
}
.footer .container{
  max-width: 100% !important; 
  padding: 0 5rem;
}
.footer .footer-item h1{
  font-size: 3.5rem !important;
  font-weight: 400 !important;
  font-family: 'Playball', cursive !important;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 5.125rem;
  height: 5.125rem;
  border: 0.125rem solid transparent;
  padding: 12px;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 50%;
  transition: all 0.5s ease;
  margin-right: 2rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover,
.rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.fa-facebook-f,
.fa-youtube,
.fa-instagram,
.fa-whatsapp {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover,
.rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover,
.rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.whatsapp {
  background: #25D366 ;
}

.rounded-social-buttons .social-button.whatsapp:hover,
.rounded-social-buttons .social-button.whatsapp:focus {
  color: #25D366;
  background: #fefefe;
  border-color: #25D366;
}

.rounded-social-buttons .social-button.instagram {
  background: #F46899; ;
}

.rounded-social-buttons .social-button.instagram:hover,
.rounded-social-buttons .social-button.instagram:focus {
  color: #F46899;
  background: #fefefe;
  border-color: #F46899;
}

figure {
  margin: 0;
}



